body {
  /* padding-bottom: 65px; */
}

h1 {
  font-family: CircularStd;
}

h4 {
  font-family: CircularStd;
  font-weight: bold;
  padding-bottom: 19px;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style:  normal;
}

h5 { 
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style:  normal;
  padding-top: 20px;
}

.hero-image {
  width: 100%
}

.hero-text {
  padding-top: 114px;
  padding-left: 118px;
  padding-right: 582px;

}

.section-header {
  padding-top: 76px;
  margin-left: 117px;
  margin-right: 117px;
  padding-bottom: 19px;
  border-bottom: thin solid #22282F;
  display: flex;
  justify-content: space-between;
}

.section-header-dark {
  padding-top: 76px;
  margin-left: 117px;
  margin-right: 117px;
  padding-bottom: 19px;
  border-bottom: thin solid #F2F5F7;
  color: #F2F5F7;
}

.left-column {
  padding-top: 42px;
  padding-left: 118px;
  padding-right: 200px;
}

.contact-column {
  padding-top: 42px;
  padding-left: 118px;
  padding-bottom: 128px;
}

.right-column {
  padding-top: 42px;
  padding-right: 118px;
  padding-bottom: 128px;
}

.project-card {
  padding-top: 79px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-content {
  padding-left: 116px;
  padding-right: 116px;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style:  normal;
  height: 58px;
  width: 560px;
  background-color: #d9d9d9;
  border: none;
}

.form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style:  normal;
  height: 132px;
  width: 560px;
  background-color: #d9d9d9;
  border: none;
}

.profile-picture {
  padding-top: 48px;
}

.list-inline-item {
  padding-right: 50px;
  padding-left: 10px;
  padding-top: 68px;
  color: #596774
}

.bg-light {
  background-color: #3C8A82!important;
}

.nav-link{
  font-family: CircularStd;
  color: #22282F;
}

.strong-text {
  color: #F2F5F7
}

.regular-text {
  padding-top: 69px;
  padding-left: 118px;
  padding-bottom: 128px;
  padding-right: 248px;
  color: #F2F5F7
}

.portfolio {
  background-color: #596774;
}

.card-buttons button {
  padding-right: 30px
}

.btn-primary {
  background-color: #7BD6CD !important;
  font-family: CircularStd !important;
  color: #596774 !important;
  border: none !important;
  height: 58px !important;
  width: 218px !important;
}

.btn-previous{
  border: none !important;
}

.btn-next{
  border: none !important;
}

.bg-dark {
  background-color: #37423D !important;
}

@media screen and (max-width: 360px) {
  .hero-text{
    padding-top: 42px;
    padding-left: 24px;
    padding-right: 36px;
  }

  .regular-text {
    padding-top: 19px;
    padding-left: 24px;
    padding-bottom: 128px;
    padding-right: 26px;
    font-size: smaller;
  }

  .hero-image{
    height: 1031px;
  }

  .left-column{
    padding-top: 42px;
    padding-left: 24px;
    padding-right: 36px;
  }

  .right-column{
    padding-top: 42px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  .project-card{
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .project-buttons{
    display: none;
  }

  .project-buttons-mobile {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .btn-previous, .btn-next {
    width: auto;
  }

  .card-buttons{
    margin-bottom: 10px;
  }

  .form input {
    width: 100%;
  }

  .form textarea {
    width: 100%;
  }

  .contact-column {
    padding-top: 42px;
    padding-left: 24px;
    padding-bottom: 128px;
  }

  .list-inline-item {
    display: inline-flex;
    padding-right: 2.5px;
    padding-left: 2.5px;
    padding-top: 60px;
    color: #596774
  }

  .btn-resume {
    display: none;
  }

  .btn-resume-mobile {
    justify-content: center;
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .container-fluid {
    display: flex;
    justify-content: right;
  }

  #navbarSupportedContent {
    background: #22282F;
    color: #FFFFFF;
  }

  .nav-link {
    font-family: CircularStd;
    color: #FFFFFF;
  }
}