body {
  padding-bottom: 65px;
}

h1 {
  font-weight: bold;
  font-family: CircularStd;
  /* font-size: larger; */
}

h4 {
  font-family: CircularStd;
  font-weight: bold;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style:  normal;
}

.project-card {
  display: flex;
  justify-content: center;
}

.project-buttons {
  display: none;
}

.project-card:hover .project-buttons {
  display: block;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 35%;
}

.form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 35%;
}

.bg-light {
  background-color: #B3C0A4 !important;
}

/* .bg-body-tertiary {
  background-color: #B3C0A4!important;
} */

.nav-link{
  font-family: CircularStd;
  color: #22282F;
}

.strong-text {
  color: #F2F5F7
}

.regular-text {
  /* font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style:  normal; */
  color: #F2F5F7
}

/* .active {
  background-color: #B3C0A4 !important;
} */

.bg-dark {
  background-color: #37423D !important;
}